div{
    background-color: red;
    width: 400px;
    height: 400px;
animation: box 2s 0.1s infinite;
}
@keyframes box{
    0%{
        margin-left: 0px;
        margin-top: 0px;
    }
    25%{
        margin-left: 500px;
        margin-top: 0px;
        transform: rotate(360deg);
    }
    50%{
        margin-top: 200px;
        margin-left: 500px;
        background-color: blue;
       border-radius: 50%;
    }
    75%{
        margin-top: 200px;
        margin-left: 0px;
        transform: rotate(360deg);
    }
    100%{
margin-top: 0px;
margin-left: 0px;
    }
}